.homeContainer {
  padding: 50px 30px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.mainImageContainer {
  margin: 0 auto;
  max-width: 400px;
}
.mainImage {
  width: 100%;
  border-radius: 50%;
}

.topBottomContainer {
  margin-top: 60px;
}
.accessButton {
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 25px;
}
